.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.454500;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.909000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.700000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.756000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.005371;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:1.080000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
.m2{transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);-ms-transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);-webkit-transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);}
.m0{transform:matrix(0.239156,-0.072831,0.072831,0.239156,0,0);-ms-transform:matrix(0.239156,-0.072831,0.072831,0.239156,0,0);-webkit-transform:matrix(0.239156,-0.072831,0.072831,0.239156,0,0);}
.m1{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m3{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.ls3{letter-spacing:7.480000px;}
.ls1{letter-spacing:20.639999px;}
.ls2{letter-spacing:27.600000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{margin-left:-9.358720px;}
._7{margin-left:-7.854640px;}
._1a{margin-left:-6.810321px;}
._d{margin-left:-5.106486px;}
._0{margin-left:-3.509520px;}
._8{margin-left:-2.506800px;}
._6{margin-left:-1.336891px;}
._2{width:1.169840px;}
._15{width:2.339680px;}
._13{width:3.976383px;}
._5{width:6.088889px;}
._16{width:13.433619px;}
._1{width:16.207195px;}
._3{width:17.538418px;}
._17{width:21.553195px;}
._14{width:37.552418px;}
._b{width:40.125192px;}
._c{width:41.385386px;}
._18{width:45.192256px;}
._19{width:46.342167px;}
._9{width:55.698526px;}
._a{width:56.813261px;}
._10{width:59.486209px;}
._11{width:60.555879px;}
._12{width:61.937764px;}
._1b{width:71.789658px;}
._f{width:139.476421px;}
._e{width:140.478122px;}
.fc3{color:rgb(255,49,49);}
.fc2{color:rgb(0,0,255);}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fsa{font-size:102.879997px;}
.fsd{font-size:123.680000px;}
.fsf{font-size:125.920006px;}
.fs9{font-size:134.919998px;}
.fs7{font-size:144.560013px;}
.fs6{font-size:146.560013px;}
.fs8{font-size:149.039993px;}
.fs5{font-size:151.800003px;}
.fse{font-size:164.080002px;}
.fs2{font-size:167.119995px;}
.fsc{font-size:179.880005px;}
.fsb{font-size:211.199997px;}
.fs1{font-size:258.600006px;}
.fs3{font-size:282.920013px;}
.fs4{font-size:378.160004px;}
.fs0{font-size:1059.280012px;}
.y0{bottom:0.000000px;}
.y49{bottom:0.473801px;}
.y10{bottom:29.753632px;}
.y48{bottom:43.763802px;}
.y52{bottom:45.966496px;}
.yf{bottom:72.363678px;}
.y45{bottom:111.818024px;}
.y47{bottom:112.275982px;}
.ye{bottom:114.973724px;}
.y3e{bottom:116.156982px;}
.y3d{bottom:129.810686px;}
.y1{bottom:136.491837px;}
.y1d{bottom:145.900024px;}
.yd{bottom:157.583710px;}
.y35{bottom:174.165314px;}
.y12{bottom:177.826111px;}
.y28{bottom:197.253998px;}
.y1c{bottom:200.109985px;}
.yc{bottom:200.193695px;}
.y34{bottom:208.565338px;}
.y44{bottom:208.958038px;}
.y33{bottom:242.965363px;}
.y1b{bottom:254.319977px;}
.y27{bottom:266.054047px;}
.yb{bottom:285.413666px;}
.y26{bottom:300.454071px;}
.y43{bottom:306.098083px;}
.y1a{bottom:308.529968px;}
.y32{bottom:311.765411px;}
.ya{bottom:328.023651px;}
.y25{bottom:334.854095px;}
.y31{bottom:346.165436px;}
.y19{bottom:362.739960px;}
.y9{bottom:370.633636px;}
.y51{bottom:374.828522px;}
.y3c{bottom:376.852341px;}
.y30{bottom:380.565460px;}
.y42{bottom:403.238098px;}
.y24{bottom:403.654144px;}
.y8{bottom:413.243637px;}
.y18{bottom:416.949951px;}
.y3b{bottom:431.062332px;}
.y50{bottom:432.248535px;}
.y23{bottom:438.054153px;}
.y2f{bottom:449.365494px;}
.y7{bottom:455.853638px;}
.y17{bottom:471.159943px;}
.y2{bottom:480.442909px;}
.y2e{bottom:483.765488px;}
.y3a{bottom:485.272324px;}
.y4f{bottom:489.668549px;}
.y6{bottom:498.463638px;}
.y41{bottom:500.378113px;}
.y22{bottom:506.854141px;}
.y2d{bottom:518.165482px;}
.y16{bottom:525.369949px;}
.y39{bottom:539.482330px;}
.y5{bottom:541.073639px;}
.y21{bottom:541.254135px;}
.y4e{bottom:547.088547px;}
.y15{bottom:579.579956px;}
.y4{bottom:583.683640px;}
.y2c{bottom:586.965485px;}
.y38{bottom:593.692337px;}
.y40{bottom:597.518127px;}
.y4d{bottom:604.508545px;}
.y20{bottom:610.054142px;}
.y4b{bottom:613.207294px;}
.y2b{bottom:621.365482px;}
.y3{bottom:626.293636px;}
.y14{bottom:633.789951px;}
.y1f{bottom:644.454144px;}
.y3f{bottom:646.088120px;}
.y37{bottom:647.902332px;}
.y2a{bottom:655.765484px;}
.y46{bottom:703.014275px;}
.y4a{bottom:703.031738px;}
.y4c{bottom:719.348553px;}
.y13{bottom:722.357700px;}
.y1e{bottom:724.034679px;}
.y11{bottom:726.567215px;}
.y36{bottom:735.100105px;}
.y29{bottom:735.346016px;}
.ha{height:92.900638px;}
.hd{height:93.967813px;}
.h9{height:103.232245px;}
.h7{height:110.608174px;}
.h10{height:113.705765px;}
.h8{height:114.035971px;}
.h6{height:116.147756px;}
.h3{height:118.488077px;}
.he{height:124.662345px;}
.hf{height:125.543634px;}
.hc{height:137.632797px;}
.hb{height:161.596873px;}
.h2{height:196.475395px;}
.h4{height:209.643730px;}
.h5{height:280.216563px;}
.h0{height:810.000000px;}
.h1{height:961.826251px;}
.w0{width:1440.000000px;}
.x0{left:0.000000px;}
.x3{left:44.021881px;}
.x1{left:78.522924px;}
.x2{left:81.011276px;}
.xf{left:97.239136px;}
.x19{left:99.437500px;}
.x5{left:101.176727px;}
.x10{left:124.713928px;}
.x17{left:137.562500px;}
.x9{left:145.845978px;}
.xa{left:148.700241px;}
.x16{left:261.187500px;}
.x11{left:444.941528px;}
.x13{left:470.321289px;}
.x4{left:524.550873px;}
.x18{left:539.562500px;}
.x12{left:551.562500px;}
.x15{left:589.375031px;}
.x1a{left:614.000000px;}
.x14{left:662.696289px;}
.x7{left:831.681866px;}
.x8{left:862.403282px;}
.xc{left:869.171124px;}
.xd{left:899.892540px;}
.x6{left:1004.292725px;}
.xe{left:1011.487411px;}
.xb{left:1028.599854px;}
.x1b{left:1139.399567px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls3{letter-spacing:9.973333pt;}
.ls1{letter-spacing:27.519999pt;}
.ls2{letter-spacing:36.800001pt;}
.ws0{word-spacing:0.000000pt;}
._4{margin-left:-12.478293pt;}
._7{margin-left:-10.472853pt;}
._1a{margin-left:-9.080428pt;}
._d{margin-left:-6.808648pt;}
._0{margin-left:-4.679360pt;}
._8{margin-left:-3.342400pt;}
._6{margin-left:-1.782522pt;}
._2{width:1.559787pt;}
._15{width:3.119573pt;}
._13{width:5.301843pt;}
._5{width:8.118518pt;}
._16{width:17.911492pt;}
._1{width:21.609593pt;}
._3{width:23.384558pt;}
._17{width:28.737594pt;}
._14{width:50.069891pt;}
._b{width:53.500256pt;}
._c{width:55.180515pt;}
._18{width:60.256342pt;}
._19{width:61.789556pt;}
._9{width:74.264701pt;}
._a{width:75.751015pt;}
._10{width:79.314945pt;}
._11{width:80.741172pt;}
._12{width:82.583686pt;}
._1b{width:95.719544pt;}
._f{width:185.968562pt;}
._e{width:187.304163pt;}
.fsa{font-size:137.173330pt;}
.fsd{font-size:164.906667pt;}
.fsf{font-size:167.893341pt;}
.fs9{font-size:179.893331pt;}
.fs7{font-size:192.746684pt;}
.fs6{font-size:195.413350pt;}
.fs8{font-size:198.719991pt;}
.fs5{font-size:202.400004pt;}
.fse{font-size:218.773336pt;}
.fs2{font-size:222.826660pt;}
.fsc{font-size:239.840007pt;}
.fsb{font-size:281.599996pt;}
.fs1{font-size:344.800008pt;}
.fs3{font-size:377.226685pt;}
.fs4{font-size:504.213338pt;}
.fs0{font-size:1412.373350pt;}
.y0{bottom:0.000000pt;}
.y49{bottom:0.631734pt;}
.y10{bottom:39.671509pt;}
.y48{bottom:58.351735pt;}
.y52{bottom:61.288661pt;}
.yf{bottom:96.484904pt;}
.y45{bottom:149.090698pt;}
.y47{bottom:149.701309pt;}
.ye{bottom:153.298299pt;}
.y3e{bottom:154.875977pt;}
.y3d{bottom:173.080915pt;}
.y1{bottom:181.989116pt;}
.y1d{bottom:194.533366pt;}
.yd{bottom:210.111613pt;}
.y35{bottom:232.220418pt;}
.y12{bottom:237.101481pt;}
.y28{bottom:263.005330pt;}
.y1c{bottom:266.813314pt;}
.yc{bottom:266.924927pt;}
.y34{bottom:278.087118pt;}
.y44{bottom:278.610718pt;}
.y33{bottom:323.953817pt;}
.y1b{bottom:339.093302pt;}
.y27{bottom:354.738729pt;}
.yb{bottom:380.551554pt;}
.y26{bottom:400.605428pt;}
.y43{bottom:408.130778pt;}
.y1a{bottom:411.373291pt;}
.y32{bottom:415.687215pt;}
.ya{bottom:437.364868pt;}
.y25{bottom:446.472127pt;}
.y31{bottom:461.553914pt;}
.y19{bottom:483.653280pt;}
.y9{bottom:494.178182pt;}
.y51{bottom:499.771362pt;}
.y3c{bottom:502.469788pt;}
.y30{bottom:507.420614pt;}
.y42{bottom:537.650798pt;}
.y24{bottom:538.205526pt;}
.y8{bottom:550.991516pt;}
.y18{bottom:555.933268pt;}
.y3b{bottom:574.749776pt;}
.y50{bottom:576.331380pt;}
.y23{bottom:584.072205pt;}
.y2f{bottom:599.153992pt;}
.y7{bottom:607.804850pt;}
.y17{bottom:628.213257pt;}
.y2{bottom:640.590546pt;}
.y2e{bottom:645.020650pt;}
.y3a{bottom:647.029765pt;}
.y4f{bottom:652.891398pt;}
.y6{bottom:664.618184pt;}
.y41{bottom:667.170817pt;}
.y22{bottom:675.805522pt;}
.y2d{bottom:690.887309pt;}
.y16{bottom:700.493266pt;}
.y39{bottom:719.309774pt;}
.y5{bottom:721.431519pt;}
.y21{bottom:721.672180pt;}
.y4e{bottom:729.451396pt;}
.y15{bottom:772.773275pt;}
.y4{bottom:778.244853pt;}
.y2c{bottom:782.620646pt;}
.y38{bottom:791.589783pt;}
.y40{bottom:796.690837pt;}
.y4d{bottom:806.011393pt;}
.y20{bottom:813.405523pt;}
.y4b{bottom:817.609726pt;}
.y2b{bottom:828.487310pt;}
.y3{bottom:835.058182pt;}
.y14{bottom:845.053268pt;}
.y1f{bottom:859.272191pt;}
.y3f{bottom:861.450826pt;}
.y37{bottom:863.869776pt;}
.y2a{bottom:874.353978pt;}
.y46{bottom:937.352366pt;}
.y4a{bottom:937.375651pt;}
.y4c{bottom:959.131404pt;}
.y13{bottom:963.143600pt;}
.y1e{bottom:965.379573pt;}
.y11{bottom:968.756287pt;}
.y36{bottom:980.133474pt;}
.y29{bottom:980.461355pt;}
.ha{height:123.867517pt;}
.hd{height:125.290417pt;}
.h9{height:137.642993pt;}
.h7{height:147.477565pt;}
.h10{height:151.607687pt;}
.h8{height:152.047962pt;}
.h6{height:154.863675pt;}
.h3{height:157.984102pt;}
.he{height:166.216460pt;}
.hf{height:167.391512pt;}
.hc{height:183.510396pt;}
.hb{height:215.462497pt;}
.h2{height:261.967194pt;}
.h4{height:279.524973pt;}
.h5{height:373.622084pt;}
.h0{height:1080.000000pt;}
.h1{height:1282.435001pt;}
.w0{width:1920.000000pt;}
.x0{left:0.000000pt;}
.x3{left:58.695841pt;}
.x1{left:104.697231pt;}
.x2{left:108.015035pt;}
.xf{left:129.652181pt;}
.x19{left:132.583333pt;}
.x5{left:134.902303pt;}
.x10{left:166.285238pt;}
.x17{left:183.416667pt;}
.x9{left:194.461304pt;}
.xa{left:198.266988pt;}
.x16{left:348.250000pt;}
.x11{left:593.255371pt;}
.x13{left:627.095052pt;}
.x4{left:699.401164pt;}
.x18{left:719.416667pt;}
.x12{left:735.416667pt;}
.x15{left:785.833374pt;}
.x1a{left:818.666667pt;}
.x14{left:883.595052pt;}
.x7{left:1108.909154pt;}
.x8{left:1149.871043pt;}
.xc{left:1158.894831pt;}
.xd{left:1199.856720pt;}
.x6{left:1339.056966pt;}
.xe{left:1348.649882pt;}
.xb{left:1371.466471pt;}
.x1b{left:1519.199422pt;}
}
